
<footer>
    <nav>
        <a href="#">ABOUT US</a></li>
        <a href="/adminLogin">Admin Portal</a></li>
        <a href="#">Privacy Policy</a></li>
        <a href="#">T&C</a></li>
        <a href="#">Contact US</a></li>
    </nav>
</footer>