<html>
    <head>
        <%- include('partials/header1.ejs') %> 
    </head>
    <body>
        <%- include('partials/navbar2.ejs') %>
            <h1 style="color:red">Administrators only page.</h1>
            <p style="color:blue">
            Welcome 
            <strong><%= username %> </strong> to a admins only page. You are now logged in.
            </p>
            As an administrator, you can
            <a href="/addcustomers">add a customer</a>, or <a href="/listCustomers">manage the existing customers, update or delete a customer</a>
    </body>
</html>