<html>
    <head>
        <%- include('partials/header1.ejs') %> 
    </head>
    <body>
        <%- include('partials/navbar2.ejs') %>
            <h1 style="color:red">Customer profile page.</h1>
            <p style="color:blue">
            Welcome to the customer profile page. Here is your profile:
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Balance</th>
                    <th>Action</th>
                </tr>
            </thead>
            
    </body>
</html>