<html>
    <head>
        <%- include('partials/header1.ejs') %> 
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <h1>This is fruit page.</h1>
            <img class="img2" src="/public/images/fruit.jpg" alt="fruit">
    </body>
</html>