<html>
    <head>
       <%- include('partials/header1.ejs') %> 
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <h1>This is home page.</h1> 
            <img class="img2" src="/public/images/home.jpg" alt="home">
    </body>
    <%- include('partials/footer.ejs') %>
</html> 