<html>
    <head>
       <%- include('partials/header1.ejs') %> 
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div>
            <h1>Login / Register</h1>
            <br>
            <form action="/auth" method="post">
                <input type="text" name="username" placeholder="User Name" id="username" required>
                <label for="password">
                </label>
                <input type="password" name="password" placeholder="password" id="password" required>
                <input type="submit" value="Login">
            </form> 
            <br>
            <h4><a href="register">Register</a></h4>
            </div>
    </body>
</html> 