<html>
    <head>
        <%- include('partials/header1.ejs') %> 
    </head>
    <body>
        <%- include('partials/navbar2.ejs') %>
            <h1 style="color:red">Members only page.</h1>
            <p style="color:blue">
            Welcome 
            <strong><%= username %> </strong> to a Members only page. You are now logged in.
            </p>
    </body>
</html>