<html>
    <head>
        <%- include('partials/header1.ejs') %> 
    </head>
    <body>
        <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <h1>This is vegetables page.</h1>
            <img class="img2" src="/public/images/vegetables.jpg" alt="vegetables">
        </div>
     </body>
</html>